<div class="col-md-12">
  <div class="card">
      <div class="header">
        <h4 class="title">Orders

        </h4>
        <hr>
       </div>
      <div class="content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Order </th>
              <th> Amount </th>
              <th> Payment Status </th>
            </tr>
          </thead>
          <tbody>
            <% @orders .each do |order| %>
            <tr>
              <td><%=link_to order.customer.try(:name), order_path(order) %></td>
              <td><%=number_to_currency order.line_items.total_price %></td>
              <td><%=order.payment_status %></td>
              <td><%=order.customer_type %>
        <% end %>
      </tbody>
    </table>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function() {
        $("#project_id").select2({
            theme: "bootstrap"
        });
    });
</script>
