<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">General Ledger
          <span class="pull-right"><%=link_to "New Account", new_accounting_account_path, class: 'btn btn-primary', remote: true %></span>
          <div class="new-account"></div>
        </h4>
        <hr />
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Type</th>
              <th>Debit Balance</th>
              <th>Credit Balance</th>
            </tr>
          </thead>
          <tbody class="account-index">
            <%=render "index" %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
