<% capital_build_ups.order(:date).reverse.each do |capital_build_up| %>
  <ul class="list-unstyled team-members">
    <li>
      <div class="row">
        <div class="col-xs-4">
            <span><%=number_to_currency capital_build_up.debit_amounts.last.amount %></span>
        </div>
        <div class="col-xs-4">
          <%=capital_build_up.date.strftime("%B %e, %Y")%>
        </div>
        <div class="col-xs-2 text-right">
          <span class="btn btn-success btn-icon btn-xs"><i class="fa fa-check"></i> </span>
        </div>
      </div>
      <hr>
    </li>
  </ul>
<% end %>
