<div class="col-md-5">
  <div class="card">
    <div class="header">
      <h4 class="title"> Roles
        <span class="pull-right"><%=link_to "New Role", new_human_resources_role_path, class: "btn btn-primary" %>
      </h4>
      <hr>
    </div>
    <div class="content">
      <% HumanResources::Role.all.each do |role| %>
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-6">
                <%=role.role %>
              </div>
              <div class="col-md-6">
                <% HumanResources::Employee.all.matches_role(role).each do |employee| %>
                <%=image_tag(employee.photo.url(:small), class: "img-circle", title: "#{employee.full_name}") %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
